@model Bids.Models.Item

@{
    ViewBag.Title = "Create";
}

<h2>Create Item</h2>
@using (Html.BeginForm("Create", "Items", FormMethod.Post, new { @class = "form-horizontal" }))
{
    
    @Html.Partial("Fields")
    <input type="submit" value="Add Item" class="btn btn-primary" />
}
