@model Bids.Models.Item

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm("Edit", "Items", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Partial("Fields")

    <input type="submit" value="Save Item" class="btn btn-primary"/>
}

