@model IEnumerable<Bids.WebUI.Models.Item>

<div class="container">
@foreach (Bids.WebUI.Models.Item item in @Model)
{
    <div class="row">
        <div class="col-md-2">@item.Title</div>
        <div class="col-md-2">@item.AuctionEndDate</div>
        <div class="col-md-2">@Html.ActionLink("View", "Details", "Items", new { id = item.ItemID }, null)</div>
    </div>

}
</div>
