@model Bids.Models.Item

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm()){
<p>
    @Html.DropDownList("Member", new SelectList(ViewBag.Members, "MemberID", "LoginName"), new { @class="form-control"})
</p>
    <input type="submit" value="Select" class="btn btn-primary"/>
}

<h3>My Products</h3>
@Html.Partial("Products", ViewBag.MyProducts as IEnumerable<Bids.Models.Item>)

<h3>My Bids</h3>
@Html.Partial("Bids", ViewBag.MyBids as IEnumerable<Bids.Models.Bid>)