@model Bids.Models.Member

@{
    ViewBag.Title = "New";
}

<h2>Create Member</h2>
@using (Html.BeginForm("Create", "Members", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Partial("Fields")
    <input type="submit" value="Add Member" class="btn btn-primary"/>
}


