@model Bids.Models.Member

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Member</h2>
@using (Html.BeginForm("Edit", "Members", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.MemberID)
    @Html.Partial("Fields",Model)

    <input type="submit" value="Save Member" class="btn btn-primary"/>
}
