@model Bids.Models.Member

<div class="form-group">
        @Html.LabelFor(m => m.LoginName, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.LoginName, new { @class = "form-control" })
        </div>
    </div>
