@model IEnumerable<Bids.Models.Member>

@{
    ViewBag.Title = "Index";
}

<h2>Members Index</h2>
<div class="container-fluid">
    @foreach (Bids.Models.Member m in Model)
    {
        <div class="row">
            <div class="col-md-2">@m.LoginName</div>
            <div class="col-md-2">
                @Html.ActionLink("Edit", "Edit", new { id = m.MemberID }, new { @class = "btn btn-link" })
            </div>
        </div>
    }
</div>
@Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary" })

